/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-col-1-6 {
    width: calc((100% / 6) * 1);
}

.row-col-4-6 {
    width: calc((100% / 6) * 4);
}

.small-container {
    max-width: 900px;
    margin: 0 auto;
}

.col-3-5 {
    width: calc((100% / 5) * 3);
}

.col-2-5 {
    width: calc((100% / 5) * 2);
}

.col-1-4 {
    width: calc((100% / 4) * 1);
}

.col-3-4 {
    width: calc((100% / 4) * 3);
}

/* HEADER */

.header1 .menu-container {
    height: 40px;
}

.header1 .menu-container > * {
    padding: 10px;
}

.header1 .link-container {
    text-align: center;
}

.header1 .login-container {
    text-align: right;
}

.header1 .link-container ul li {
    display: inline-block;
}

.header1 .link-container a {
    color: black;
    text-decoration: none;
}

.header2 {
    padding: 100px;
}

/* MAIN */

main section .sezione-1 {
    padding: 100px 0;
}

main > section:nth-child(even) {
    background-color: #D3D3D3;
}

/* FOOTER */

footer {
    background-color: #23272A;
}

.footer-1 {
    padding: 40px;
}

hr {
    color: white;
    margin-top: 40px;
}

.footer-container {
    min-height: 100px;
    padding: 40px 0;
}

.container-footer-2 {
    display: flex;
    justify-content: space-between;
}

/* DEBUG */

.debug .header1 {
    background-color: #AED9E5;
    padding: 10px 0px;
}

.debug .header1 .row {
    background-color: #DAA520;
}

.debug .header1 .row > * {
    border: 1px dashed black;
}

.debug .header2 {
    background-color: #08008B;
}

.debug .header2 .homepage-image{
    background-color: #EE81ED;
    border: 1px dashed black;
    min-height: 400px;
}

.debug main section .row .col-3-5 {
    background-color: #1D90FF;
    border: 1px dashed black;
    min-height: 400px;
}

.debug main .row .col-2-5 {
    background-color: #FFC0CA;
    border: 1px dashed black;
    min-height: 400px;
}

.debug main .sezione-2 {
    background-color: #228B21;
    border: 1px dashed black;
    min-height: 400px;
}

.debug .footer-1-parte-principale {
    background-color: #F08080;
}

.debug .footer-1-parte-principale > *{
    border: 1px dashed black;
    min-height: 400px;
}

.debug .footer-1-parte-principale .seconda-parte {
    background-color: #21B1A9;
}


.debug .footer-1-parte-principale .seconda-parte > * {
    border: 1px dashed white;
}

.debug .footer-container {
    background-color: #80FED3;
}

.debug .footer-container .container-footer-2 > * {
    background-color: #FFB6C1;
    border: 1px dashed black;
    padding: 5px;
}

