/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-col-1-6 {
    width: calc((100% / 6) * 1);
}

.row-col-4-6 {
    width: calc((100% / 6) * 4);
}

.small-container {
    max-width: 900px;
    margin: 0 auto;
}

/* HEADER */

.header1 .menu-container {
    height: 40px;
}

.header1 .menu-container > * {
    padding: 10px;
}

.header1 .link-container {
    text-align: center;
}

.header1 .login-container {
    text-align: right;
}

.header1 .link-container ul li {
    display: inline-block;
}

.header1 .link-container a {
    color: black;
    text-decoration: none;
}

.header2 {
    padding: 100px;
}

/* BODY */

/* DEBUG */

.debug .header1 {
    background-color: #AED9E5;
    padding: 10px 0px;
}

.debug .header1 .row {
    background-color: #DAA520;
}

.debug .header1 .row > * {
    border: 1px dashed black;
}

.debug .header2 {
    background-color: #08008B;
}

.debug .header2 .homepage-image{
    background-color: #EE81ED;
    border: 1px dashed black;
    min-height: 400px;
}